.card-main {
    width: 69%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 100%;
    height: 25vh;
    background-color: rgb(234, 234, 247);
    border-radius: 3vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.card-main .card .card-body-left {
    width: 40%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-main .card .card-body-left img {
    height: 20vh;
    border-radius: 10vh;
}

.card-main .card .card-body-right {
    width: 50%;


}