
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-tertiary-color); 
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--navbar-brand-color); 
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  font-size: 16px;
}

.nav-item {
  padding: 0;
  margin: 0;
}
.gap-3 {
  gap: 2rem!important;
}
.nav-item a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--nav-link-color); 
}

@media (max-width: 768px) {

    .navbar-nav {
      display: none;
   
    }
  }



  
  
  
