.team{
    width: 100%;
   min-height: 100vh;

}
.team .team-member{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       margin-left: auto;
       margin-right: auto;
      padding-top: 10vh;
    width: 80%;
    min-height: 80vh;
}

.team .team-member .team-member-data{
    width: 50%;
     min-height: 80vh;
    padding: 10vh;
}
.team-member-data h2{
    letter-spacing:8px;
    font-size: 60px;
}
.team-member-data h6{
    letter-spacing:3px ;
    opacity: .6;
}
.team-member-data p{
    padding:16px 0;
    opacity: .6;
}
.team-member-data h4{
  padding: 1vh 0vh;
}
.team .team-member .team-member-img{
    object-fit: cover;
    width: 50%;
     min-height: 80vh;
}
.team .team-member .team-member-img img{
 width: 100%;
  height: 100%;
  object-fit: contain;
}
.social-link .row a img{
  padding-top: 1vh;
}
.social-link .row a{
  background-color: white ;
  width: 60px;
 
}

.social-link .row a img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
  border-radius: 10px solid black;
}

@media (max-width: 768px) {
  .team .team-member{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 0vh;
}
.team .team-member .team-member-data{
  width: 100%;
  min-height: 4vh;
  padding:3vh 10vh;
}
.team .team-member .team-member-img{
  object-fit: cover;
  width: 50%;
   min-height: 30vh;
}


}