/* Styling for form */

.hero-contact {
  width: 60%;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-contact .contact-us-img {
  width: 40%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  justify-content: center;
  align-items: center;
}

.hero-contact .contact-us-img img {
  width: 500px;
  height: 500px;
}

.contact-us-form {
  width: 60%;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: #d3d3df;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}


.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}


@media (max-width: 768px) {


  .contact-form {
    max-width: 100%;
  }

  .hero-contact .contact-us-img {
    display: none;
  }

  .contact-us-form {
    width: 100%;
  }

}