/* Set up a simple responsive layout */
  .hero-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  /* Contact.css */

  .img-left{
    width: 50%;
    padding-left: 20vh;
  }
/* Styling for the whole form */
.contact-form {
    width: 50%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf4f7;
  border-radius: 10px;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.1);
}

/* Styling for form elements */
.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styling for the submit button */
.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .contact-form {
    max-width: 100%;
  }
}
